/* mobile menu */

.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--primary);
  box-shadow: 0px 0px 1px 1px var(--background-hover);
  transform: translateY(100%);
  transition: transform 0.5s ease-out;
}

.mobile-menu-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.mobile-menu-icons .nav-icon {
  margin-right: 0;
}
.mobile-menu-icons .navlink {
  margin-right: 15px;
}
@media screen and (max-width: 320px) {
  .mobile-menu-icons .nav-icon {
    font-size: 1.3rem;
  }
}
