/* bookmarks section */

.bookmarks-content {
  display: grid;
  justify-content: center;
  margin-top: 30px;
}
.bookmarks-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}
.bookmarks-wrapper h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}
.bookmarks-wrapper p {
  font-size: 1rem;
  color: var(--main-color-2);
}

.bookmarks-section #username {
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  .bookmarks-wrapper h1 {
    font-size: 2rem;
  }
}
