/* header content */

.header-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  border-bottom: 0.5px solid var(--border-color);
  overflow-x: scroll;
  scrollbar-width: none;
}
.header-content::-webkit-scrollbar {
  display: none;
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-bottom: 0;
}

.header-title h2 {
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--header-content);
  width: max-content;
}
.header-title:hover {
  background-color: var(--background-hover);
}
.underline {
  background-color: var(--main-color);
  height: 3px;
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 347px) {
  .header-title h2 {
    font-size: 0.8rem;
  }
}
